@{
    ViewBag.Title = "Search";
}

<script type="text/javascript">
    var uniqueIdentifier;
    var uploadedFile;

    $(document).ready(function () {
        $('#headingTwo2').click(function (event) {
            if (uploadedFile) {
                $("#headingTwo2").collapse('toggle');
            } else {
                event.preventDefault();
                alert("upload a file first");
            }
        });

        $('#headingThree2').click(function (event) {
            if ($('#checkboxes input:checked').length <= 0) {
                event.preventDefault();
                alert("Please choose a unique identifier first");
            } else {
                var item = $('#checkboxes input:checked')[0];
                uniqueIdentifier = $("label[for='" + item.id + "']").attr('data-off-text');
                //prepare search cards
                prepareSearchCards();
                content.style.maxHeight = content.scrollHeight + "px";
                $('.section__title').not(this).each(function () {
                    var content = this.nextElementSibling;
                    content.style.maxHeight = null;
                });
            }
        });
    });
    
    function uploadAction() {
        var fileInput = $('#fileinput');
        var file = fileInput[0].files[0];
        if (file) {
            var reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function (e) {
                var data = e.target.result.split(/\r\n|\n/);
                triggerEvents(data);
            }

            reader.onerror = function (e) {
                alert(e.target.error.name);
            };
        } else {
            alert("couldn't process file");
        }
    }

    function triggerEvents(data) {
        $('.loading-screen').addClass('open');
        //wait for column names to be retreived before populating elements
        $.when(parseData(data)).done(function () {
            prepareCheckboxes();

            $(':checkbox').on('change', function () {
                $(':checkbox').not(this).prop('checked', false);
            });

            $(document.body).on('click', '#manual-card', function (event) {
                event.preventDefault();
                //prepare custom search form
                initSearchForm();
                $('#search').addClass('open');
            });

            $('#search, #search button.close').on('click keyup', function (event) {
                if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                    $(this).removeClass('open');
                }
            });

            $('.loading-screen').removeClass('open');
        });
    }

    function parseData(data) {
        var columns = data[0].split(',');
        return $.ajax({
            url: "/Home/ReadTable",
            type: "POST",
            data: {
                columns: columns,
                data: data
            },
            error: function () {
                alert("no results");
            }
        }).done(function (result) {
            activeTable = '#database';
            htmlColumns = [];
            for (var i in columns) {
                htmlColumns.push({ "data": columns[i] });
            }
            uploadedFile = result;
            alert('done!');
        });
    }
    function submitAction() {
        if (!isEmpty()) {
            $('.loading-screen').addClass('open');
            $('#search').removeClass('open');
            var parameters = setParameters();

            var result = (getSearchResults(parameters)).done(function () {
                $('.loading-screen').removeClass('open');
                $('html, body').animate({
                    scrollTop: $("#searchTable").offset().top
                }, 1000);
            });
        } else {
            alert('Fields cannot all be null')
        }
    }
    function setParameters() {
        var parameters = {};
        parameters["uniqueID"] = uniqueIdentifier;
        $('.search-form input[type="text"]').each(function () {
            if ($.trim($(this).val()) != "") {
                parameters[this.id] = $.trim($(this).val());
            }
        });
        return parameters;
    }

    function isEmpty() {
        var allEmpty = true;
        $('.search-form input[type="text"]').each(function () {
            if ($.trim($(this).val()) != "") {
                allEmpty = false;
            }
        });
        return allEmpty;
    }

    function prepareCheckboxes() {
        for (var i in htmlColumns) {
            $('#checkboxes').append('<div class="toggle-button toggle-button--vesi" id="toggle-' + i + '"></div>');
            $('#toggle-' + i).append('<input id="toggleButton' + i + '" type="checkbox">');
            $('#toggle-' + i).append('<label for="toggleButton' + i + '" data-on-text="unique ' + htmlColumns[i].data + '" data-off-text="' + htmlColumns[i].data + '"></label>');
            $('#toggle-' + i).append('<div class="toggle-button__icon"></div>');
        }
    }

    function prepareSearchCards() {
        $('#search-cards').empty();
        $("#search-cards").append('<div class="card-custom" id="manual-card"><div class="card-custom-header ch3"></div><div class="card-custom-body"><div class="card-custom-title">Manual Search</div><div class="card-custom-sub-title">Find duplicate records by manual searching</div><div class="card-custom-desc">...</div></div></div>');
        for (var i in htmlColumns) {
            if (htmlColumns[i].data.indexOf(uniqueIdentifier) < 0) {
                $('#search-cards').append('<div class="card-custom" id=card-' + i + '></div>');
                $('#card-' + i).append('<div id="ilx56" class="card-custom-header"></div>')
                $('#card-' + i).append('<div class="card-custom-body"><div class="card-custom-title">By ' + htmlColumns[i].data + '</div><div class="card-custom-sub-title"> Find duplicate records by ' + htmlColumns[i].data + '</div><div class="card-custom-desc"> ...</div></div>')
            }
        }
    }

    function getSearchResults(list) {
        return $.ajax({
            url: "/Search/GetSearchResults",
            type: "POST",
            data: {
                parameters: list,
                columns: htmlColumns,
                data: uploadedFile
            },
            error: function () {
                alert("no results");
            }
        }).done(function (data) {
            return prepareSearchResults(data);
        });
    }

    function prepareSearchResults(data) {
        activeTable = '#searchTable';
        prepHtmlTable();
        initHtmlTable(data);
    }

    function initSearchForm() {
        $('.search-form').empty();
        for (var i in htmlColumns) {
            if (htmlColumns[i].data.indexOf(uniqueIdentifier) < 0) {
                $('.search-form').append('<div class="search-group" id=column' + i + '></div>');
                $('#column' + i).append('<label for="' + htmlColumns[i].data + '" style="color:white">' + htmlColumns[i].data + ':</label>');
                $('#column' + i).append('<input id="' + htmlColumns[i].data + '" type="text" class="form-control" />');
            }
        }
        $('.search-form').append('<br /><button id="search-button" type="button" class="btn btn-primary" onclick="submitAction()">Search</button>');
    }
</script>

<div class="loading-screen" style="display: none">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>

<div class="accordion" id="accordionExample2">
  <section class="section section--vesi" style="background-color: #c8c8c8">
    <div class="section__title" id="headingOne2" data-toggle="collapse" data-target="#collapseOne2"
      aria-expanded="true" aria-controls="collapseOne2">
      Step 1: Upload a File
    </div>
    <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2" data-parent="#accordionExample2">
      <div class="card-body">
       <input type="file" id="fileinput" />
            <button id="uploadButton" class="btn btn-primary" onclick="uploadAction()">Submit</button>
      </div>
    </div>
  </section>
  <section class="section section--vesi" >
    <div class="section__title" id="headingTwo2" data-toggle="collapse" data-target="#collapseTwo2"
         aria-expanded="false" aria-controls="collapseTwo2">
            Step 2: Select a unique identifier
    </div>
     
    <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordionExample2">
      <div class="card-body" id="checkboxes">
       
      </div>
    </div>
  </section>
  <section class="section section--vesi"  style="background-color: #c8c8c8">
    <div class="section__title" id="headingThree2" data-toggle="collapse" data-target="#collapseThree2"
          aria-expanded="false" aria-controls="collapseThree2">
          Step 3: Select a search option
    </div>
     
    <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample2">
      <div class="cards-custom" id="search-cards">
        
      </div>
    </div>
  </section>
    <section class="section section--vesi"  style="background-color: #fafafa">
    <div class="section__title" id="headingFour2" data-toggle="collapse" data-target="#collapseFour2"
          aria-expanded="false" aria-controls="collapseFour2" style="color: #000000;">
          Step 4: Review results
    </div>
    <div id="collapseFour2" class="collapse" aria-labelledby="headingFour2" data-parent="#accordionExample2">
      <div class="card-body" style="font-size: 12px; background-color: #fafafa;">
        <table id="searchTable" class="table table-striped table-hover" style="color: black; font-size: 12px;">
            <thead>

            </thead>
        </table>
      </div>
    </div>
  </section>
</div>

<div id="search" style="overflow-y: scroll">
    <button type="button" class="close">x</button>
    <form class="search-form">

    </form>
</div>